hr.line {
  border: 1px solid #320083;
  border-radius: 5px;
}

body {
    font-size: 1.05em;
    line-height: 1.25em;
    font-family: 'montserrat';
    font-family: sans-serif;
    background: #fff;

}


.foot {
    display: flex;
    justify-content: space-evenly;
     position:absolute;
   bottom:0;
   width:100%;
   height:60px;

}



.frontpage {
justify-content: space-around;
    text-align: center;

}

.responsive {
  max-width:100%;
    height:auto;
}




.button {
  border-radius: 4px;
  background-color: #320083;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 display: flex;
   text-align: center;
    margin-left: 38%;
}

.button1 {
    display: flex;
   text-align: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
/*  content: '\00bb';*/
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;


}


.button:hover span:after {
  opacity: 1;
  right: 0;

}




a {

    color: #320083;
    text-decoration: none;
/*    font-weight: bold;*/

}

a:hover {

    color: #D99700;

}

.profile-image {
   float: left;
}

header {

    background: #fff;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
/*    border-bottom: 12px solid #320083;*/
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;

}

.headerSpan {
    flex-grow: 1;
}

#logo {

    margin: 20px;
    float: left;
    width: 200px;
    height: 50px;
    background: url(../img/headerlogo.png) no-repeat center;
    display: block;

}

nav {

    float: right;
    padding: 20px;

}

#menu-icon {

/*    display: hidden;*/
    width: 40px;
    height: 40px;
    background: #320083 url(../img/menu-icon.png) center;


}

a:hover#menu-icon {

    background-color: #320083;
    border-radius: 10px 4px 0 0;

}

.wideMenu {
display: flex;
    list-style: none;
    flex-wrap: nowrap;
}

li {

    display: inline-block;
    float: left;
    padding: 15px

}

.current {

    color: #D99700;

}


section {

    margin: 80px auto 40px;
    max-width: 980px;
    position: relative;
    padding: 20px
}


input[type="button"] {
        margin-top: 2em;
        background-color: white;
        color: black;
        font-size: 0.6em;
        padding: 1em;
/*        margin: left;*/


    }


h1, h2, h3, h4{
    font-family: 'montserrat', sans serif;
    font-weight: bold;

}

h1 {
    font-size: 2em;
    color: #320083;
    line-height: 1.15em;
    margin: 20px 0;

}

h2 {
    font-size: 1.3em;
    color: #320083;
    line-height: 1.15em;
    margin: 20px 0;

}



h3 {

    font-size: 0.9em;
    color: #320083;
    line-height: 1.15em;
    margin: 20px 0;

}

p {
    font-family: "montserrat";
     font-size: 1em;
    color: #320083;
    line-height: 1.15em;
    margin: 20px 0;
    width: 70%;
}


.row{
    display: flex;
    margin:30px;
}



a
{
    color:#320083;
}



a:hover
{
    color: #D99700;
}

a:active
{
    color:#52A6C5;
}
/*MEDIA QUERY*/
@media only screen and (max-width : 770px) {

    .row{
        display: block
    }

    .foot {
        display: block;
    }

    #menu-icon {

        display: inline-block;

    }

    .wideMenu,
    nav:active .wideMenu {

        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 1px solid #320083;
        right: 20px;
        top: 60px;
        width: 50%;
        border-radius: 4px 0 4px 4px;
    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover .wideMenu {

        display: block;
    }

    .profile-image {
        float: none;

    }

     }

.button {
    display:flex;
    justify-content: left;
}


